/.vscode
/build
/user
/bin/Debug/OpenGLProject.exe
/bin/Release/OpenGLProject.exe
/bin/Release/OpenGLProject.exp
/bin/Release/OpenGLProject.lib
/bin/Debug/OpenGLProject.pdb
/bin/Debug/OpenGLProject.exp
/bin/Debug/OpenGLProject.lib
/status.bat
/status.py
/Poppins-Medium.ttf
*.pdn
*.mtl